{% extends 'base.html' %}
{% load static %}
{% block body %}
    <style>
      .testimony-wrap .user-img {
          width: 110px;
          height: 110px;
          margin: 0 auto;
          border-radius: 14px;
          margin-top: -60px;
      }
      .ftco-section{
        padding-bottom: 5px;
        padding-top: 3rem;
      }
      .testimony-wrap .star-rate span{
        color: #003c72;
      }
      .testimony-wrap .name{
        color: #003c72;
      }
      .owl-carousel .owl-dots .owl-dot.active{
        background: #003c72;
      }
      /* .services .icon span {
    color: #003c72;
} */
.feature-1 {
    padding: 30px;
    background: rgba(26, 55, 77, 0.05);
    border-radius: 20px;
    min-height: calc(50% - 15px);
    top: 0;
    margin-bottom: 30px !important;
}
@media (max-width: 991.98px) {
    .feature-1 {
        display: block !important;
    }
}
.align-self-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
}
.feature-1 h3 {
    font-size: 1.2rem;
    font-weight: 700;
}
.text-primary {
    color: #1A374D !important;
}
.feature-img-bg {
    border-radius: 20px;
    background-size: cover;
}
.untree_co-section {
    padding: 70px 0;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
.two-col li {
    display: inline-block;
    width: 48%;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    vertical-align: text-top;
    float: left;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}
.video-play-button {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    border-radius: 50%;
    padding: 18px 20px 18px 28px;
}
a {
    color: #1A374D;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}
.img-play-video {
    position: relative;
}
.video-play-button.ripple {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.video-play-button .play-icon {
  width: 40px;
  height: 40px;
  z-index: 3;
}

.ripple-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 123, 255, 0.3);
  animation: ripple 2s infinite ease-out;
  z-index: 1;
}

.ripple-circle.delay {
  animation-delay: 1s;
}

@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

.btn {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    font-size: 14px;
}
    .btn-primary {
        background-color: #003c72;
        border-color: #003c72;
        color: #fff;
    }
    .media-1 img {
    border-radius: 20px;
}
    </style>
   <section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url('{% static 'images/bg_3.jpg' %}'); overflow: hidden;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center">
                <div class="col-md-7 col-sm-12 ftco-animate">
                    <h1 class="mb-3">Travel Operator Just For You</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-item" style="background-image: url('{% static 'images/grass_mountain.jpg' %}'); overflow: hidden;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center">
                <div class="col-md-7 col-sm-12 ftco-animate">
                    <h1 class="mb-3">Discover the Heart of Kashmir</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-item" style="background-image: url('{% static 'images/grass_mountain2.jpg' %}'); overflow: hidden;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center">
                <div class="col-md-7 col-sm-12 ftco-animate">
                    <h1 class="mb-3">Journey Through Kashmir’s Timeless Beauty</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-item" style="background-image: url('{% static 'images/mountain.jpg' %}'); overflow: hidden;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center">
                <div class="col-md-7 col-sm-12 ftco-animate">
                    <h1 class="mb-3">Experience the best trip ever</h1>
                </div>
            </div>
        </div>
    </div>
</section>

    <!-- END slider -->
    {% include '_sys_notifications.html' %}
    <section class="ftco-section testimony-section" style="margin-bottom: 0px; padding-bottom: 0%; margin-top: 2%; padding-top: 2%;">
      <div style="padding-top:1%;">
        <div class="container justify-content">
          <h3>Himalayan Edges: Your Gateway to Adventure in the Himalayas</h3>
          <p style="font-size: larger;">Welcome to Himalayan Edges, your premier specialists in privately guided backcountry ski trips, mountain treks, alpine lake treks, off-roading adventures, and more in the majestic Himalayas. Located in the heart of the Pir Panjal range, we are dedicated to crafting unforgettable experiences that combine the thrill of adventure with the serene beauty of this iconic region</p>
        </div>
      </div>
    </section>
    <section class="ftco-section testimony-section" style="margin-bottom: 0px; margin-top: 0%; background-image: linear-gradient(rgb(73 101 131 / 80%),rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url('{% static 'images/photo_gallery/20.jpg' %}'); background-size: cover; background-position: center;">
      <div class="container" style="max-width: 90%;">
        <div class="row justify-content-center mb-2 pb-2">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2 style="font-weight: 700; color: #ffffff; font-family: 'Ionicons';">Top Selling Tours in Kashmir</h2>
          </div>
        </div>
        <div class="row">
          {% for tour in tours %}
          <div class="col-md-6 col-lg-4 mb-4 d-flex align-items-stretch">
              <div class="card h-100 shadow-sm border-0">
                  <!-- Large image at the top of the card -->
                  <img 
                    class="card-img-top img-fluid rounded" 
                    src="data:image/jpeg;base64,{{ tour.image }}" 
                    alt="{{ tour.name }}">
                    
                  <div class="card-body">
                      <!-- Discount badge -->
                      {% if tour.discount %}
                      <span style="font-size: 1rem; padding: 0.5em; transform: rotate(0deg); position: absolute; top: 10px; right: 0px; background-color: #b3343f; color: white;">{{ tour.discount }}% OFF</span>
                      {% endif %}
                      
                      <!-- Tour name as a clickable link -->
                      <h5 class="card-title font-weight-bold">
                          <a href="{% url 'tour_detail' tour.tour_id %}" class="text-dark text-decoration-none">
                              {{ tour.name }}
                          </a>
                      </h5>
      
                      <!-- Location and type of tour -->
                      <p class="card-text mb-2">
                          <strong>Location:</strong> <span class="text-muted">{{ tour.location }}</span>
                      </p>
                      <!-- <p class="card-text mb-2">
                          <strong>Type:</strong> <span class="text-muted">{{ tour.tour_type }}</span>
                      </p> -->
      
                      <!-- Tour description, truncated if needed -->
                      <!-- <p class="card-text text-muted mb-3">
                          <strong>Description:</strong> 
                          <span class="short-desc">{{ tour.summary|slice:":100" }}{% if tour.summary|length > 100 %}...{% endif %}</span>
                          {% if tour.tour_descr|length > 100 %}
                          <a href="#" class="read-more text-primary" style="color: #003c72;" data-full-desc="{{ tour.tour_descr }}">Read More</a>
                          {% endif %}
                      </p> -->
      
                      <!-- Popularity label -->
                      <p class="card-text mb-2">
                          <strong>Popular:</strong> <span class="badge badge-success">{{ tour.popular|yesno:"Yes,No" }}</span>
                      </p>
      
                      <!-- Price -->
                      <p class="card-text mb-2">
                          <strong>Price:</strong> <del><span class="text-muted">₹{{ tour.price }}</span></del>
                      </p>
                      <p class="card-text mb-2" style="font-size: 1.5rem; font-weight: bold; color: #003c72;">
                          <strong>Offer Price:</strong> <span>₹{{ tour.discounted_price }}/-</span>
                      </p>
                  </div>
      
                  <!-- Footer with action buttons -->
                  <div class="row" style="display: flex; align-items: center; justify-content: space-between; padding: 10px; margin: 10px;">
                    <div style="flex: 1; display: flex; justify-content: flex-start;">
                        <a href="{% url 'tour_detail' tour.tour_id %}" class="btn btn-primary btn-sm" style="background-color: #aeb1b8; border-radius: 4px; border: 1px solid; color: black;">View Details</a>
                    </div>&nbsp;
                    <form action="{% url 'payment_page' %}" method="POST" style="flex: 1; display: flex; justify-content: center; margin: 0;">
                        {% csrf_token %}
                        <input type="text" style="display: none;" name="tour_id" value="{{ tour.tour_id }}">
                        <button type="submit" class="btn btn-warning shadow-0" style="background-color: #003c72; color: whitesmoke; border-radius: 4px; border: 1px solid grey;">Book Now</button>
                    </form>
                    <span class="text-muted small" style="flex: 1; display: flex; justify-content: flex-end;">#{{ tour.tour_id }}</span>
                </div>                
                  
              </div>
          </div>
          {% endfor %}
      </div>
      
      
      
      </div>
    </section>
    
    



    
    

  <div style="padding-top:1%;">
    <div class="container">

    <h3>How to book?</h3>
    <p><b>
            <p>For bookings please visit our <a href="{% url 'tours' %}"><i><u>Tours</u></i></a> page and book your adventure with us.</p>
            <p>Other than the the tour packages mentioned in our page, we can also customize packages based on the customer requirement and budget. In case of any clarifications, you can get in touch with us on our email or whatsapp for any query, information or negotiations of prices.</p></b></p>
            <p>We only communicate with our customers via our email <b><u>info@himalayanedges.com, our online support or whatsapp support.</u></b></p>
      </div>
  </div>



    <section class="ftco-section">
      <div class="container" >
        <div class="row">
          <div class="col-lg-3 promo ftco-animate">
            <a href="#" class="promo-img mb-4" style="background-image: url('{% static 'images/safari.jpg' %}');"></a>
            <div class="text text-center">
              <h2>Safari</h2>

            </div>
          </div>
          <div class="col-lg-3 promo ftco-animate">
            <a href="#" class="promo-img mb-4" style="background-image: url({% static 'images/cable_car.jpg' %});"></a>
            <div class="text text-center">
              <h2>Adventure</h2>
  
            </div>
          </div>
          <div class="col-lg-3 promo ftco-animate">
            <a href="#" class="promo-img mb-4" style="background-image: url({% static 'images/mountain.jpg' %});"></a>
            <div class="text text-center">
              <h2>Mountain Tours</h2>

            </div>
          </div>
          <div class="col-lg-3 promo ftco-animate">
            <a href="#" class="promo-img mb-4" style="background-image: url({% static 'images/family.jpg' %});"></a>
            <div class="text text-center">
              <h2>Family Tours</h2>

            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="untree_co-section">
      <div class="container">
        <div class="row mb-5 justify-content-center" style="background: linear-gradient(45deg, #0d346f, transparent); color: white;">
          <div class="col-lg-6 text-center">
            <div class="row justify-content-center mb-2 pb-2">
              <div class="col-md-7 text-center heading-section ftco-animate">
                <h2 style="margin-top: 15px; color: whitesmoke; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Our Services</h2>
              </div>
            </div>            <p>Far, far away, beyond the bustling cities and the dusty plains, nestled high in the northern reaches of India, lie the silent valleys of Kashmir and the timeless mountains of Leh. Separated from the noise of the modern world, they dwell in quietude—hidden like sacred verses in a forgotten manuscript. Between snow-draped peaks and ancient monasteries, the stories of these lands echo softly along the banks of the Indus, flowing through the heart of a cultural ocean rich in language, history, and soul.</p>
          </div>
        </div>
        <div class="row align-items-stretch">
          <div class="col-lg-4 order-lg-1">
            <div class="h-100"><div class="frame h-100"><div class="feature-img-bg h-100" style="background-image: url({% static 'images/hero-slider-1.jpg' %});"></div></div></div>
          </div>
  
          <div class="col-6 col-sm-6 col-lg-4 feature-1-wrap d-md-flex flex-md-column order-lg-1" >
  
            <div class="feature-1 d-md-flex">
              <div class="align-self-center">
                <span class="flaticon-house display-4 text-primary"></span>
                <h3>Beautiful Condo</h3>
                <p class="mb-0">Even the all-powerful Pointing has no control about the blind texts.</p>
              </div>
            </div>
  
            <div class="feature-1 ">
              <div class="align-self-center">
                <span class="flaticon-restaurant display-4 text-primary"></span>
                <h3>Restaurants & Cafe</h3>
                <p class="mb-0">Even the all-powerful Pointing has no control about the blind texts.</p>
              </div>
            </div>
  
          </div>
  
          <div class="col-6 col-sm-6 col-lg-4 feature-1-wrap d-md-flex flex-md-column order-lg-3" >
  
            <div class="feature-1 d-md-flex">
              <div class="align-self-center">
                <span class="flaticon-mail display-4 text-primary"></span>
                <h3>Easy to Connect</h3>
                <p class="mb-0">Even the all-powerful Pointing has no control about the blind texts.</p>
              </div>
            </div>
  
            <div class="feature-1 d-md-flex">
              <div class="align-self-center">
                <span class="flaticon-phone-call display-4 text-primary"></span>
                <h3>24/7 Support</h3>
                <p class="mb-0">Even the all-powerful Pointing has no control about the blind texts.</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </div>
    </div>
    <section class="ftco-section bg-light">
      <div class="container" style="max-width: 100%;">
        
        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="d-flex justify-content-center"><div class="icon d-flex justify-content-center mb-3"><span class="align-self-center flaticon-sailboat"></span></div></div>
              <div class="media-body p-2">
                <h3 class="heading">Special Activities</h3>
                <p>We perform special activities such as charity and any activity that the customer rekons.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="d-flex justify-content-center"><div class="icon d-flex justify-content-center mb-3"><span class="align-self-center flaticon-around"></span></div></div>
              <div class="media-body p-2">
                <h3 class="heading">Travel Arrangements</h3>
                <p>We arrange and assure secured travel to different places within the country.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="d-flex justify-content-center"><div class="icon d-flex justify-content-center mb-3"><span class="align-self-center flaticon-compass"></span></div></div>
              <div class="media-body p-2">
                <h3 class="heading">Private Guide</h3>
                <p>We provide private guide in all places within the country with high security and standard.</p>
              </div>
            </div>    
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="d-flex justify-content-center"><div class="icon d-flex justify-content-center mb-3"><span class="align-self-center flaticon-map-of-roads"></span></div></div>
              <div class="media-body p-2">
                <h3 class="heading">Adventure</h3>
                <p>We provide adventure activities such as mountain climbing beach tour and safari.</p>
              </div>
            </div>      
          </div>
        </div>
      </div>
    </section>
    <div class="untree_co-section">
      <div class="container">
        <div class="row justify-content-center text-center mb-5">
          <div class="col-lg-6">
            <h2 class="section-title text-center mb-3">Popular Destinations</h2>
            <!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p> -->
          </div>
        </div>
        <div class="row mx-0 mx-sm-5">
          <div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
            <div class="media-1">
              <a href="#" class="d-block mb-3">
                <img src="{% static 'images/pd1gulmarg.jpg' %}" alt="Image" class="img-fluid" style="width: 100%; height: 200px; object-fit: cover;">
              </a>
              <span class="d-flex align-items-center loc mb-2">
                <span class="icon-room mr-3"></span>
                <span>Jammu and Kashmir, India</span>
              </span>
              <div class="d-flex align-items-center">
                <div>
                  <h4><a href="#">Gulmarg</a></h4>
                  <div class="price ml-auto"></div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
            <div class="media-1">
              <a href="#" class="d-block mb-3">
                <img src="{% static 'images/pahalgam.jpg' %}" alt="Image" class="img-fluid" style="width: 100%; height: 200px; object-fit: cover;">
              </a>
              <span class="d-flex align-items-center loc mb-2">
                <span class="icon-room mr-3"></span>
                <span>Jammu and Kashmir, India</span>
              </span>
              <div class="d-flex align-items-center">
                <div>
                  <h4><a href="#">Pahalgam</a></h3>
                  <div class="price ml-auto"></div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
            <div class="media-1">
              <a href="#" class="d-block mb-3">
                <img src="{% static 'images/sonmarg.jpg' %}" alt="Image" class="img-fluid" style="width: 100%; height: 200px; object-fit: cover;">
              </a>
              <span class="d-flex align-items-center loc mb-2">
                <span class="icon-room mr-3"></span>
                <span>Jammu and Kashmir, India</span>
              </span>
              <div class="d-flex align-items-center">
                <div>
                  <h4><a href="#">Sonmarg</a></h3>
                  <div class="price ml-auto"></div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
            <div class="media-1">
              <a href="#" class="d-block mb-3">
                <img src="{% static 'images/leh.jpg' %}" alt="Image" class="img-fluid" style="width: 100%; height: 200px; object-fit: cover;">
              </a>
              <span class="d-flex align-items-center loc mb-2">
                <span class="icon-room mr-3"></span>
                <span>Leh Ladakh, India</span>
              </span>
              <div class="d-flex align-items-center">
                <div>
                  <h4><a href="#">Leh</a></h3>
                  <div class="price ml-auto"></div>
                </div>
              </div>
            </div>
          </div>
          
          </div>
        </div>
      </div>
    </div>
    <div class="untree_co-section">
      <div class="container">
        <div class="row justify-content-between align-items-center">
          
          <div class="col-lg-6">
            <figure class="img-play-video" style="margin: 0 0 1rem; position: relative;">
              <!-- Animated Play Button -->
              <a
                id="play-video"
                class="video-play-button ripple"
                data-fancybox
                data-src="https://www.youtube.com/embed/J5KmI8FWPeI?si=taUelEoibrK_PFMV?autoplay=1"
                data-type="iframe"
                href="javascript:;"
              >
                <span class="ripple-circle"></span>
                <span class="ripple-circle delay"></span>
                <img src="{% static 'images/play-button-arrowhead.png' %}" alt="Play" class="play-icon">
              </a>
          
              <!-- Background Image -->
              <img style="border-radius: 20px; width: 100%; max-height: 40rem; overflow: hidden;" src="{% static 'images/hero-slider-2.jpg' %}" alt="Image" class="img-fluid rounded-20">
            </figure>
          </div>
          
          <!-- Fancybox CSS -->
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" />

          <!-- Fancybox JS -->
          <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>

          
          <div class="col-lg-5">
            <h2 class="section-title text-left mb-4">Take a look at Tour Video</h2>
            <p style="font-family: 'Inter' , sans-serif; line-height: 1.5;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
  
            <p style="font-family: 'Inter' , sans-serif; line-height: 1.5;" class="mb-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
  
            <ul class="list-unstyled two-col clearfix">
              <li style="list-style-type: none;">&#9679; Outdoor recreation activities</li>
              <li style="list-style-type: none;">&#9679; Airlines</li>
              <li style="list-style-type: none;">&#9679; Car Rentals</li>
              <li style="list-style-type: none;">&#9679; Cruise Lines</li>
              <li style="list-style-type: none;">&#9679; Hotels</li>
              <li style="list-style-type: none;">&#9679; Railways</li>
              <li style="list-style-type: none;">&#9679; Travel Insurance</li>
              <li style="list-style-type: none;">&#9679; Package Tours</li>
              <li style="list-style-type: none;">&#9679; Insurance</li>
              <li style="list-style-type: none;">&#9679; Guide Books</li>
            </ul>
            
  
            <p><a href="#" class="btn btn-primary">Get Started</a></p>
  
            
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section testimony-section">
      <div class="container">
        <div class="row justify-content-center mb-2 pb-2">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2>Google Reviews</h2>
          </div>
        </div>
        
        <div class="row ftco-animate">
          <div class="carousel owl-carousel ftco-owl">
            {% for review in google_reviews %}
              <div class="item text-center">
                <div class="testimony-wrap p-4 pb-5" style="min-height: 24rem;">
                  <!-- Placeholder for user image -->
                  <div class="user-img mb-4" style="background-image: url({{ review.profile_photo_url }}); border: none;"></div>
                  <div class="text">
                    <!-- Display star rating dynamically -->
                    <p class="star-rate">
                      {% for i in "12345" %}
                        {% if forloop.counter <= review.rating %}
                          <span class="icon-star"></span>
                        {% else %}
                          <span class="icon-star-o"></span>
                        {% endif %}
                      {% endfor %}
                    </p>
                    <p class="mb-5">{{ review.text|truncatewords:20 }} <a href="{{ review.author_url }}"> &nbsp; view more</a></p>
                    <p class="name">{{ review.author_name }}</p>
                    <span class="position" style="font-weight: 500; color: #06090c;">{{ review.relative_time_description }}</span>
                  </div>
                </div>
              </div>
            {% endfor %}

          </div>
        </div>  
      </div>
    </section>

    <section class="ftco-section testimony-section">
      <div class="container">
        <div class="row justify-content-center mb-2 pb-2">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2>Our Satisfied Guests says</h2>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="carousel owl-carousel ftco-owl">
            <div class="item text-center">
              <div class="testimony-wrap p-4 pb-5" style="min-height: 24rem;">
                <div class="user-img mb-4" style="background-image: url({% static 'images/chris.jpg' %})" style="border: 1px solid red;"></div>
                <div class="text">
                  <p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span></p>
                  <p class="mb-5">Great services, hospitality, support, affordable price and security is one of the best things that I like from Kashmir Adventures.</p>
                  <p class="name">Chris Barnet</p>
                  <span class="position">Guests from Australia</span>
                </div>
              </div>
            </div>
            <div class="item text-center">
              <div class="testimony-wrap p-4 pb-5" style="min-height: 24rem;">
                <div class="user-img mb-4" style="background-image: url({% static 'images/anna.jpeg' %})" style="border: 1px solid red;"></div>
                <div class="text">
                  <p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span></p>
                  <p class="mb-5">I had about the beauty of Zanzibar and saw an ad of Kashmir Adventures and they planned well and I enjoyed it. Thank you Kashmir.</p>
                  <p class="name">Anna Scorfield</p>
                  <span class="position">Guests from Italy</span>
                </div>
              </div>
            </div>
            <div class="item text-center">
              <div class="testimony-wrap p-4 pb-5" style="min-height: 24rem;">
                <div class="user-img mb-4" style="background-image: url({% static 'images/dennis.jpg' %})" style="border: 1px solid red;"></div>
                <div class="text">
                  <p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span></p>
                  <p class="mb-5">I'm a botanist and visited Tanzania to perform my research. Kashmir Adventures arranged the trip and I succeeded in my research.</p>
                  <p class="name">Dennis Alphonce</p>
                  <span class="position">Usa</span>
                </div>
              </div>
            </div>
            <div class="item text-center">
              <div class="testimony-wrap p-4 pb-5" style="min-height: 24rem;">
                <div class="user-img mb-4" style="background-image: url({% static 'images/richard.jpeg' %})" style="border: 1px solid red;"></div>
                <div class="text">
                  <p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span></p>
                  <p class="mb-5">I had a dream of climbing Mount Kilimanjaro and I was recommended to Kashmir Adventures by my friend and the trek was amazing.</p>
                  <p class="name">Richard Paul</p>
                  <span class="position">Guests from Britain</span>
                </div>
              </div>
            </div>
            {% for review in reviews %}
              <div class="item text-center">
                <div class="testimony-wrap p-4 pb-5" style="min-height: 24rem;">
                  <!-- Placeholder for user image -->
                  <div class="user-img mb-4" style="background-image: url({% static 'images/icons/user_img.png' %}); border: 1px solid red;"></div>
                  <div class="text">
                    <!-- Display star rating dynamically -->
                    <p class="star-rate">
                      {% for i in "12345" %}
                        {% if forloop.counter <= review.rating %}
                          <span class="icon-star"></span>
                        {% else %}
                          <span class="icon-star-o"></span>
                        {% endif %}
                      {% endfor %}
                    </p>
                    <p class="mb-5">{{ review.review_text }}</p>
                    <p class="name">{{ review.name }}</p>
                    <span class="position">Guests from {{ review.country }}</span>
                  </div>
                </div>
              </div>
            {% endfor %}
            <!-- {% if reviews %}
              {% for review in reviews %}
              <div class="item text-center">
                  <div class="testimony-wrap p-4 pb-5">
                      <div class="user-img mb-4" style="background-image: url({% static 'images/dennis.jpg' %});"></div>
                      <div class="text">
                          <p class="star-rate">
                              {% for star in "12345"|slice:review.rating %}
                                  <span class="icon-star"></span>
                              {% endfor %}
                              {% if review.rating < 5 %}
                                  <span class="icon-star-half-full"></span>
                              {% endif %}
                          </p>
                          <p class="mb-5">{{ review.text }}</p>
                          <p class="name">{{ review.author_name }}</p>
                          <span class="position">{{ review.relative_time_description }}</span>
                      </div>
                  </div>
              </div>
              {% endfor %}
          {% else %}
              <p>No reviews available.</p>
          {% endif %} -->
          </div>
        </div>  
      </div>
    </section>
    <section class="ftco-section review-section">
      <div class="container">
        <div class="row justify-content-center mb-2 pb-2">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2>Share Your Experience</h2>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12">
            <form action="{% url 'submit_review' %}" method="post" class="bg-light p-5 contact-form">
              {% csrf_token %}
              <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="Your Name" required>
              </div>
              <div class="form-group">
                <input type="email" name="email" class="form-control" placeholder="Your Email" required>
              </div>
              <div class="form-group">
                <input type="text" name="country" class="form-control" placeholder="Your Country" required>
              </div>
              <div class="form-group">
                <textarea name="review_text" cols="30" rows="7" class="form-control" placeholder="Your Review" maxlength="125" required></textarea>
                <small>Max character length : 125</small>
              </div>
              <div class="form-group">
                <label class="mr-3">Rate Your Experience: </label>
                <input type="number" name="rating" min="1" max="5" class="form-control" placeholder="Rating (1-5)" required>
              </div>
              <div class="form-group">
                <input type="submit" value="Submit Review" style="background-color: #003c72; color: whitesmoke; border-radius: 4px; border: 1px solid grey;" class="btn btn-primary py-3 px-5">
              </div>
            </form>
          </div>
        </div>  
      </div>
    </section>
    <section class="ftco-section review-section" >
      <div class="container">
        <div class="row justify-content-center mb-1 pb-1">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2>Our Location</h2>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14114.192589926276!2d74.3955541!3d34.0518324!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39a014a1a4f7fdfd%3A0x9f26360e0a77c302!2sLocation!5e0!3m2!1sen!2sin!4v1676961268712!5m2!1sen!2sin" frameborder="0" style="border:0; width: 100%; height: 270px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>  
      </div>
    </section>




{% endblock body %}
