{% extends 'base.html' %}
{% load static %}
{% block title %}
Tours
{% endblock title %}
{% block body %}
  
  <section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url('{% static 'images/photo_gallery/8.jpg' %}'); overflow: hidden;" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center">
                <div class="col-md-7 col-sm-12 ftco-animate">
                    <h1 class="mb-3">About Us</h1>
                </div>
            </div>
        </div>
    </div>
  </section>
  <section class="ftco-section testimony-section" style="margin-bottom: 0px; padding-bottom: 0%; margin-top: 2%; padding-top: 2%;">
    <div style="padding-top:1%;">
      <div class="container justify-content">
        <p><b>Why Choose Himalayan Edges?</b>
          Expertise in Adventure Travel: With over 20 years of experience, we specialize in creating unique and tailored adventure experiences.
          Year-Round Local Knowledge: Based in Gulmarg year-round, our in-depth understanding of the region ensures you get the most authentic and enriching experiences.
          Comprehensive Ski Packages: Our partnership with a trusted travel agency allows us to offer complete multiday ski packages, including accommodation and transfers, for a hassle-free adventure.</p>
        <p><b>Tailored Experiences:</b> Whether you're seeking adrenaline-pumping backcountry ski trips, tranquil alpine lake treks, or cultural explorations, we customize packages to meet your group or individual needs.</p>
        <p><b>The Gulmarg Experience </b> A ski trip to Gulmarg is more than just a winter adventure—it’s a fusion of culture, deep snow, and the timeless beauty of the Himalayas. From pristine slopes to breathtaking landscapes, every moment is a testament to the region’s charm.</p>
        <p><b>Meet Taj Irshad</b>At the helm of Himalayan Edges, Taj Irshad brings unmatched expertise in adventure, cultural, spiritual, and experiential travel. His passion and knowledge ensure that every journey with Himalayan Edges is meticulously planned and executed to perfection.</p>
        <p><b>Plan Your Adventure</b> For customized packages or to book your next Himalayan adventure, visit our Contact Page and submit your request. Whether you’re traveling solo or with a group, we’re here to make your Himalayan dreams a reality.</p>
        <p><b>Embark on a journey with Himalayan Edges and discover the unparalleled beauty and adventure of the Himalayas.</b></p>
      </div>
    </div>
  </section>
    
   <div style="padding-top:5%;">
    <div class="container">
      <h3>Our Community & Environment</h3>
      <div class="row">
        <!-- Column for the image -->
        <div class="col-md-4 mt-4 mb-4">
          <img src="{% static 'images/icons/logo1.png' %}" style=" max-height: 50%;" alt="Community & Environment" class="img-fluid">
        </div>
        
        <!-- Column for the text -->
        <div class="col-md-8">
          <p><b><p>Himalayan Edges are the specialists for privately guided backcountry ski trips on Himalayas Pir Panjal range in Gulmarg. Our guide service is partnered with a travel agent for complete multiday ski packages including accomodation and transfers.</b></p>
          <p>We have been in operation for over 10 years and are based in Gulmarg year round. This depth of knowledge ensures for the best possible experience that only the locals can provide. A ski trip to Gulmarg provides a unique combination of culture, adventure and deep snow. For a customised package please submit a request on our contact page for your group or individual bookings</b></p>
        </div>
      </div>
    </div>
  </div>
    <section class="ftco-section bg-light" style="padding: 2px;">
        <div class="container">
          <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
              <h2>Our Services</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 d-flex align-self-stretch ftco-animate">
              <div class="media block-6 services d-block text-left">
                <div class="d-flex justify-content-center"><div class="icon d-flex justify-content-center mb-3"><span class="align-self-center flaticon-sailboat"></span></div></div>
                <div class="media-body p-2">
                  <h3 class="heading">Who We Are ?</h3>
                  <p>Himalayan Edges is a premier travel company specializing in tours and experiences in the breathtaking region of Kashmir, India. With a focus on providing exceptional and memorable journeys, Himalayan Edges offers a diverse range of tour packages tailored to cater to the varied interests of travelers.

                    Founded with a passion for showcasing the natural beauty, cultural heritage, and adventure opportunities of Kashmir, Himalayan Edges prides itself on delivering personalized service, attention to detail, and authentic experiences. Whether you're seeking adrenaline-pumping adventures like trekking through the Himalayas or serene moments amidst the tranquil landscapes of Kashmir's valleys and lakes, Himalayan Edges crafts meticulously planned itineraries to ensure an unforgettable travel experience.</p>
                </div>
              </div>      
            </div>
            <div class="col-md-6 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-left"> <!-- Changed to text-left -->
                  <div class="d-flex justify-content-center">
                    <div class="icon d-flex justify-content-center mb-3">
                      <span class="align-self-center flaticon-around"></span>
                    </div>
                  </div>
                  <div class="media-body p-2">
                    <h3 class="heading">What We Do ?</h3>
                    <p>With a team of experienced guides and professionals, Himalayan Edges ensures that travelers receive expert guidance, safety, and support throughout their journey. From arranging transportation and accommodations to organizing immersive cultural experiences and outdoor activities, the company strives to exceed expectations and create lasting memories for every traveler.

                        Whether you're a solo adventurer, a couple seeking a romantic getaway, or a family looking for an enriching vacation, Himalayan Edges promises to curate an unparalleled journey that captures the essence of Kashmir's beauty, hospitality, and charm. With Himalayan Edges, embark on a transformative journey to discover the hidden treasures and untamed splendor of Kashmir, leaving you with cherished memories to last a lifetime.</p>
                  </div>
                </div>      
              </div>
          </div>
        </div>
      </section>
  

{% endblock body %}
